/* head */

@font-face {
    font-family: 'Secuela Regular';
    src: url(./fonts/Secuela-Bold.otf);
    src: url(./fonts/Secuela-Bold.ttf);
    src: url(./fonts/Secuela-Italic.otf);
    src: url(./fonts/Secuela-Italic.ttf);
    src: url(./fonts/Secuela-Regular.otf);
    src: url(./fonts/Secuela-Regular.ttf);
}


/* body */

body {
    border: 5px solid #000;
    margin: 40px;
    max-width: 900px;
    padding: 20px;
}

h2 {
    text-align: center;
}


/* header */

header {
    margin: auto;
    padding: 5px;
    text-align: center;
    background-color: bisque;
    width: 85%px;
    border-style: dotted;
}

h1 {
    font-family: 'Secuela Regular', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: auto;
}

h1+p {
    font-family: 'Secuela Regular', sans-serif;
    font-size: 16px;
}

span {
    font-family: monospace;
    color: crimson;
    font-weight: bold;
}


/* font-face-section */

#font-face {
    margin: auto;
    padding: 5px;
    width: 100%;
    font-family: 'Secuela Regular', sans-serif;
}

#example {
    font-size: 15px;
}

aside>p {
    font-family: 'Secuela Regular', sans-serif;
    font-size: 20px;
    text-align: center;
}

aside {
    border: 1px solid black;
    padding: 2%;
    margin: auto;
    min-width: 50px;
    max-width: 400px;
}


/* font-format-section */

#font-format {
    margin: auto;
    padding: 5px;
    width: 100%;
    font-family: 'Secuela Regular', sans-serif;
}


/* tables */

table,
td,
th {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 3px;
    text-align: left;
}

#font-face-table {
    margin: auto;
    padding: 5px;
    max-width: 800px;
}

#font-format-table {
    margin: auto;
    padding: 5px;
    max-width: 800px;
}

i {
    color: blue;
    font-weight: bold;
}


/* footer/resource-section */

footer {
    margin: auto;
    padding: 5px;
    max-width: 800px;
    text-align: center;
    font-family: 'Secuela Regular', sans-serif;
    line-height: 15px;
}
